body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 450px;
	/*height: 580px;*/
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 5%;
}
.avatar {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: 190px;
}
.contact-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: rgb(0, 167, 179);
	text-align: left;
	text-transform: uppercase;
}
.contact-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-form input {
	width: 100%;
	margin-bottom: 20px;
}
.contact-form input[type=email], .contact-form input[type=password], .contact-form input[type=text], .contact-form input[type=date], .contact-form input[type=number] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.s {
	text-align: center;
    font-weight: bold;
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 15%;
}
.contact-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
input[type=checkbox] {
	width: 20%;
}
input[type="radio"].demo5 {
    display: none;
  }
  input[type="radio"].demo5 + label {
    position: relative;
    padding-left: 1.3rem;
  }
  input[type="radio"].demo5 + label::before,
  input[type="radio"].demo5 + label::after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    content:'';
    width: 1rem;
    height: 1rem; 
    border-radius: 1rem;
  }
  input[type="radio"].demo5 + label::before {
    border: 1px solid #00B7E8;
    background-color: #eee;
    
  }
  input[type="radio"].demo5:checked + label::after {
    background-color: #00B7E8;
  }
  .radio{
	  color: cornsilk;
  }
  .Q{
	  color: cornsilk;
  }
  .myCheckbox input {
	position: relative;
	z-index: -9999;
  }
  
  .myCheckbox span {
	width: 20px;
	height: 20px;
	display: block;
	background: url("link_to_image");
  }
  
  .myCheckbox input:checked + span {
	background: url("link_to_another_image");
  }
  .A{
	  color: darkgreen;
  }
  h1{
	  color: white;
  }
  img{
	  width: 100px;
  }
  fieldset{
	  border-width: 0;
  }
  #scorik{
	  color:rgb(0, 167, 179) ;
  }